fastapi
uvicorn[standard]
openai
python-dotenv
requests
tensorflow
pillow
numpy
python-multipart
ultralytics
pyyaml
datasets
huggingface_hub
pandas
openpyxl
motor
passlib[bcrypt]
python-jose[cryptography]
pymongo
supabase
supabase-py
